.title-des {
  font-size: 14px;
}

.item-tags {
  // display: flex;
  // align-items: center;

  &>i {
    margin-right: 8px;
  }
}

.code-box-demo {
  text-align: center;
}

.ant-layout-header {
  line-height: 64px;

  h3 {
    line-height: inherit;
  }
}

.ant-layout-header,
.ant-layout-footer {
  background: #fff;
  // color: #fff;
}

.ant-layout-footer {
  line-height: 1.5;
  text-align: center;
  color: #bfbfbf;

  a {
    color: inherit;

    &:hover {
      color: #1890ff;
    }
  }
}

.ant-layout-sider {
  background: #fff;
  // color: #fff;
  line-height: 120px;
}

.ant-layout {
  background: #fff;
}

.ant-layout-content {
  background: #fff;
  color: #fff;
  // min-height: 120px;
  // line-height: 120px;
}

>.code-box-demo>div>.ant-layout {
  margin-bottom: 48px;
}

>.code-box-demo>div>.ant-layout:last-child {
  margin: 0;
}